---
layout: default
title: Archive
---
<div class="col-sm-12">
    <div class="page-title">
        {{ page.title }}
    </div>
    <div class="page-content">
        <ul class="page-list">
            {% for post in site.posts %}
                {% if post.archive %}
                <li>
                    <time class="timeago postlist-meta" datetime="{{ post.date |  date: "%A %-d %B %Y" }}">{{ post.date }}</time>
                    &mdash; <a href="{{ post.url | prepend: site.url }}">{{ post.title }}</a>
                </li>
                {% endif %}
            {% endfor %} 
        </ul>
    </div>
</div>