---
layout: default
title: Tags
---

<!-- Thanks to [LanyonM](https://github.com/LanyonM/lanyonm.github.io/blob/master/tags.html) for this wonderful tutorial -->
{% capture site_tags %}{% for tag in site.tags %}{{ tag | first }}{% unless forloop.last %},{% endunless %}{% endfor %}{% endcapture %}
<!-- site_tags: {{ site_tags }} -->
{% capture num_words %}
{{ site_tags | split:',' | size }}
{% endcapture %}
<!-- num_words: {{ num_words }} -->
{% assign tag_words = site_tags | split:',' | sort %}
<!-- tag_words: {{ tag_words }} -->

<div class="col-sm-12">
    <div class="page-title">
        {{ page.title }}
    </div>
    <div class="tags-contaier">
        <ul class="leaders">
            {% for item in (0..num_words) %}{% unless forloop.last %}
            {% capture this_word %}{{ tag_words[item] | strip_newlines }}{% endcapture %}
            <li>
                <span class="leaders-left">{{ site.tags[this_word].size }}</span>
                <a class="leaders-right dropdown-tags" data-for="#tag-pages{{item}}">
                    <strong>
                        {{ this_word }}
                    </strong>
                    <i class="fa fa-chevron-down"></i>
                </a>
            </li>
            <ul class="tags-contaier tags">
                {% for post in site.tags[this_word] %}{% if post.title != null %}
                <li class="tag-pages" id="tag-pages{{item}}">
                    <span class="entry-date leaders-left">
                        <time class="timeago" datetime="{{ post.date | date: "%A %-d %B %Y" }}" itemprop="datePublished">{{ post.date }}</time>
                    </span>
                    <a class="leaders-right" href="{{ post.url }}">{{ post.title }}</a>
                </li>
                {% endif %}{% endfor %}
            </ul>
            {% endunless %}{% endfor %}
        </ul>
    </div>
</div>
<script>
    {% include scripts/tags.html %}
</script>

