<div class="page-nav hide-on-phone" id="page-down">
    {% if page.previous %}
    <a id="page-preview" href="{{ page.previous.url }}">
        <span class="page-preview-icon glyphicon glyphicon-chevron-down pull-right"></span>

        <div class="page-preview-text">
            <div class="blog-meta">Previous post</div>
            <div class="page-preview-title">{{ page.previous.title }}</div>
        </div>
    </a>
    {% endif %}
</div>

<div class="page-nav hide-on-phone" id="page-up">
    {% if page.next %}
    <a id="page-preview" href="{{ page.next.url }}">
        <span class="page-preview-icon glyphicon glyphicon-chevron-up pull-right"></span>

        <div class="page-preview-text">
            <div class="blog-meta">Next post</div>
            <div class="page-preview-title">{{ page.next.title }}</div>
        </div>
    </a>
    {% endif %}
</div>