{% if page.search == false %}
<div class="page-nav" id="page-up">
    <a id="page-preview">
        <span id="page-preview-icon" class="glyphicon glyphicon-chevron-up pull-right"></span>

        <div class="page-preview-text">                
            <div class="blog-meta">Read previous blog post</div>
            <div class="page-preview-title">Some post title</div>
        </div>        
    </a>
</div>
<div class="page-nav" id="page-down">
    <a id="page-preview">
        <span id="page-preview-icon" class="glyphicon glyphicon-chevron-down pull-right"></span>

        <div class="page-preview-text">                
            <div class="blog-meta">Read next blog post</div>
            <div class="page-preview-title">Some post title</div>
        </div>        
    </a>
</div>
{% endif %} 