---
---
//Last updated 22-04-2016 by iamnii @12.15am
/* configurations */
$primary-color: #F3F8FF;
$lnk-color: #afafaf;
$lnk-highlight-color: #333;

/* IMPORT CSS FILES */
// base css
@import "site";
// syntax highlighting
@import "syntax";
// bootstrap
@import "bootstrap.min";
// fontawesome icons
@import "font-awesome.min";
