---
---
//Last updated 17-03-2015 by nadjetey @12.15am
/* configurations */
$primary-color: #F3F8FF;
$lnk-color: #afafaf;
$lnk-highlight-color: #333;

/* IMPORT CSS FILES */
// base css
@import "site";
// syntax highlighting
@import "syntax";
// bootstrap
@import "bootstrap.min";
// fontawesome icons
@import "font-awesome.min";
