<div class="share">
    <p>Posted:
        <i>
            {{ page.date |  date: "%A %-d %B %Y" }}
        </i>
        <a class="pull-right" href="https://twitter.com/intent/tweet?url={{ page.url | prepend: site.url }}&text={{ page.title }}&via={{ site.owner.twitter }}" target="_blank">
            <i class="fa fa-retweet" style="color:red;"></i> Share
        </a>
    </p>
    <ul>
        <li>You might also like:</li>
        <ul>
        {% for post in site.related_posts limit:3 %}
            <li>
                <a href="{{ post.url }}">{{ post.title }}</a>
            </li>
        {% endfor %}
        </ul>
    </ul>
</div>
{% if page.comments %}
<div class="comments">
    <div id="disqus_thread"></div>
</div>
<noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
{% endif %}